*.local
*.identcache
*.tvsconfig
*.dcu
*.o
*.exe
*.skincfg
*.stat
*.vlb
*.so
*.dex
*.otares
/__history
__history
Win32
*.stat
/Anonimizer/Anon.Resource.res
/MicroGest/MicroGest1/MicroGest.Resources.res
